[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "==4.0.9"
Scrapy = "==2.6.0"
selenium = "==4.1.2"
markdownify = "==0.10.3"
requests = "==2.27.1"
feedparser = "==6.0.8"

[dev-packages]
pylint = "==2.12.2"
pytest = "==7.0.1"
