name: Release

on:
  push:
    tags:
      - latest

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Create packages
        run: uv run package.py

      - name: Upload packages
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        run: |
          gh release delete latest -y
          gh release create latest --latest --title 'latest' *.pyz
